/* ---------------------------------------------------------------------- */
/*	Styles for Open Hour
/* ---------------------------------------------------------------------- */
#accom-infos h4{
	border-bottom: 1px solid #E5E5E5;
	padding: 10px;
}
#accom-infos button.remove-hotel-line,
.accom-opt-line .remove-opt{
	background: url(../img/icon-remove.png) no-repeat 0 5px;
	width: 16px;
	height: 27px;
	line-height: 27px;
	text-indent: -9999px;
	border:none;
	box-shadow: none;
}
#accom-infos button.add-hotel-line{
	background: url(../img/icon-add.png) no-repeat 0 8px;
	width: 16px;
	height: 27px;
	line-height: 27px;
	text-indent: -9999px;
	border:none;
	box-shadow: none;
	margin-left: 5px;
}
#accom-infos .hotel-line{
	display: inline-block;
	background-color: #e3e3e3;
	padding: 2px;
	margin: 2px;
	border-radius: 4px;
}
.accom-opt-line{
	position: relative;
}
.accom-opt-line .remove-opt{
	position: absolute;
	right: 5px;
	top: 5px;
}
#add-accomm-line{
	margin-right: 5px;
}