/* ---------------------------------------------------------------------- */
/*	Styles for Open Hour
/* ---------------------------------------------------------------------- */
#accommodations button.remove-hotel-location{
	background: url(../img/icon-remove.png) no-repeat 0 5px;
	width: 16px;
	height: 27px;
	line-height: 27px;
	text-indent: -9999px;
	border:none;
}

#accommodations .rwmb-select{
	min-width: 0;
	width: 50px!important;
}